
@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-Regular.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-Extended.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-Italic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-Bold.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-Light.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Helios Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/HeliosTerm-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/HeliosTerm-ExtendedSemiBoldItalic.ttf') format('truetype');
}
