* {
  min-height: 14px;
  min-width: 0px;
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(234, 118, 203, 0); /* catppuccin base ( */

  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  /* background-color: #f38ba8; */
  /* background-color: rgba(245, 169, 184, 0.65); */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @mocha_base;
  color: @mocha_rosewater;
}

#workspaces button:hover {
  color: @mocha_base;
  background-color: @mocha_pink;
}

#workspaces button.active {
  background-color: @rose;
  color: @mocha_base;
}

#workspaces button.urgent {
  background-color: @mocha_base;
  color: @rose;
}

#pulseaudio {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-left: 1px;
  margin-right: 1px;
  background-color: @mocha_base;
  color: @mocha_sapphire;
  border-radius: 6px;
}
#clock,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#tray,
#window,
#network,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @mocha_base;

}

#mpris.playing {
  color: @rose;
  background-color: @mocha_base;
}

#mpris.paused {
  color: @mocha_pink;
  background-color: @mocha_base;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-right: 1px;
  border-radius: 6px;
  color: @mocha_green;
  background-color: @mocha_base;
}

#memory {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 6px;
  color: @mocha_green;
  background-color: @mocha_base;
}

#clock {
  color: @rose;
  background-color: @mocha_base;
  margin-right: 0px;
}

#clock.simpleclock {
  color: @rose;
  background-color: @mocha_base;
  margin-left: 1px;
  margin-right: 0.25rem;
}

#window {
  color: @mocha_sky;
  background-color: @mocha_base;
  margin-right: 1px;
}

/* #pulseaudio {
  color: #5BCEFA;
}

#pulseaudio.muted {
  color: #F5A9B8;
} */

#custom-logo {
  color: @mocha_blue;
}

#custom-power {
  color: @mocha_red;
  background-color: @mocha_base;
}

tooltip {
  background-color: @mocha_base;
  border: 2px solid @rose;
}

#network {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-left: 1px;
  border-radius: 6px;
  color: @mocha_sapphire;
}

#network.speed {
  background: @mocha_base;
}
/*
#custom-work-left,
#custom-work-right {
  padding: 6px 6px;
  margin: 6px 3px;
}
*/

/* base button */
#custom-workspace-1,
#custom-workspace-2,
#custom-workspace-3,
#custom-workspace-4,
#custom-workspace-5,
#custom-workspace-6,
#custom-workspace-7,
#custom-workspace-8,
#custom-workspace-9,
#custom-workspace-10 {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-left: 0rem;
  margin-right: 0rem;
  border-radius: 6px;
  background-color: @mocha_base;
  color: @mocha_pink;
}

/* hovered button */
#custom-workspace-1:hover,
#custom-workspace-2:hover,
#custom-workspace-3:hover,
#custom-workspace-4:hover,
#custom-workspace-5:hover,
#custom-workspace-6:hover,
#custom-workspace-7:hover,
#custom-workspace-8:hover,
#custom-workspace-9:hover,
#custom-workspace-10:hover {
  color: @mocha_base;
  background-color: @mocha_lavender;
}

#custom-gpu-temp {
  padding: 0.3rem 0.6rem;
  margin: 0.3rem 1px;
  margin-right: 2px;
  border-radius: 6px;
  color: @mocha_blue;
  background-color: @mocha_base;
}

#custom-gpu-mem {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 6px;
  color: @mocha_blue;
  background-color: @mocha_base;
}

#custom-gpu-usage {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 6px;
  color: @mocha_blue;
  background-color: @mocha_base;
  }

#custom-temperature {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  margin-right: 0.25rem;
  margin-left: 1px;
  border-radius: 6px;
  color: @mocha_green;
  background-color: @mocha_base;
}
